<%= tinymce_assets %>
<%= form_for(@pagina) do |f| %>
  <% if @pagina.errors.any? %>
    <div id="error_explanation">
    <% if @pagina.errors.count == 1 %>
      <h2> 1 error prohibe que estos datos sean guardados:</h2>
      <%else%>
      <h2> <%= @pagina.errors.count %> errores prohiben que estos datos sean guardados:</h2>
      <% end %>
      <ul>
      <% @pagina.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :seccion %><br>
    <%= f.select :seccion, option %>
  </div>
  <div class="field">
    <%= f.label :titulo %><br>
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_area :descripcion, class: "tinymce" %>
  </div>
  <div class="actions">
    <%= f.submit "Crear pagina", :class => 'btn btn-sample btn-sm' %>
    <%= tinymce %>
  </div>
<% end %>
