<%provide(:seccion, "Creacion de páginas")%>
<h1>Lista de páginas</h1>

<div class="container-fluid">
<table>
  <thead>
    <tr>
      <th>Sección</th>
      <th>Título</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @paginas.each do |pagina| %>
      <tr>
        <td><%= pagina.seccion %></td>
        <td><%= pagina.titulo %></td>
        <td><%= link_to 'Mostrar', pagina%></td>
        <td><%= link_to 'Editar', edit_pagina_path(pagina)%></td>
        <td><%= link_to 'Eliminar', pagina, method: :delete, data: { confirm: 'Estas seguro?' }%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva página', new_pagina_path, :class => 'btn btn-ttc' %>
</div>
