<%provide(:seccion, "Creacion de páginas")%>

<p>
  <strong>Seccion:</strong>
  <%= @pagina.seccion %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @pagina.titulo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @pagina.descripcion %>
</p>

<%= link_to 'Edit', edit_pagina_path(@pagina) %> |
<%= link_to 'Back', paginas_path %>
