<div class="table">
<%= form_for(@contacto) do |f| %>
  <% if @contacto.errors.any? %>
    <div id="error_explanation">
    
     <% if @contacto.errors.count == 1 %>
      <h2> 1 error prohíbe que estos datos sean guardados:</h2>
      <%else%>
      <h2> <%= @contacto.errors.count %> errores prohíben que estos datos sean guardados:</h2>
      <% end %>
      <ul>
      <% @contacto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Nombre" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone, "Teléfono" %><br>
    <%= f.telephone_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :comentarios %><br>
    <%= f.text_area :comentarios %>
  </div>
  <div class="actions">
    <%= f.submit "Enviar", :class => 'btn btn-sample btn-sm'%>
    <%unless user_signed_in?%>
      <li><%= link_to 'Iniciar Sesión', new_user_session_path, :class => 'btn btn-sample' %></li>
    <%end%>
  </div>

<% end %>
</div>