<%provide(:seccion, "clientes")%>
<h1>Lista de mensajes</h1>
  
<table class="table">
  <thead>
    <tr>
      <th>Leido</th>
      <th>Nombre</th>
      <th>Telefono</th>
      <th>E-mail</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody class="result actions">
    <% @contactos.each do |contacto| %>
      <tr>
      
        <td><%= contacto.leido %></td>
        <td><%= contacto.name %></td>
        <td><%= contacto.phone %></td>
        <td><%= contacto.email %></td>
        <td><%= link_to 'Mostar', contacto%></td>
        <td><%= link_to 'Eliminar', contacto, method: :delete, data: { confirm: 'Estas seguro?' }%></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>
