<%provide(:seccion, "clientes")%>
<div class="table">
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @contacto.name %>
</p>

<p>
  <strong>Teléfono:</strong>
  <%= @contacto.phone %>
</p>

<p>
  <strong>E-mail:</strong>
  <%= @contacto.email %>
</p>

<p>
  <strong>Comentarios:</strong>
</p>
<p><%= @contacto.comentarios.html_safe %></p>
<%= link_to 'Volver', contactos_path, :class => 'btn btn-sample' %>

</div>
