<td>
	<li><p><%= link_to "Estudio", root_path%></p></li>
	<li><p><%= link_to "Staff", staff_path%></p></li>
	<li><p><%= link_to "Areas", areas_path%></p></li>
	<li><p><%= link_to "Publicaciones", publicaciones_path%></p></li>
	<li><p><%= link_to "Links", links_path%></p></li>
	<li><p><%= link_to "Clientes", new_contacto_path%></p></li>
</td>