<!DOCTYPE html>
<html>
<head>
  <title>EstudioJuridicoLerma</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header">

	<%= render 'layouts/header' %>
</div>
<p id="notice"><%= notice %></p>
<h1> Estudio juridico antonela lerma seccion: <%= yield(:seccion)%></h1>
<%= yield %>

</body>
</html>
